@model IEnumerable<Bonus>
@{
    ViewData["Title"] = "BonusList";
}

<div class="page-wrapper padding-top">
    <div class="container">

        <div class="row list-row bg-color">
            <div class="col-xl-12 my-border">
                <h4 class="page-title text-white"> <i class="fas fa-dollar-sign mr-3"></i>Bu ayda bonusu olan işçilər</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="portlet light bonus-scroll mb" style="padding: 15px 20px 25px 15px;">
                    <div class="row mt-5 mb-4">
                        <div class="form-group col-xl-5">
                            <input id="recruitmentBonusList" class="form-control search-input" type="text" placeholder="Bu ayda bonusu olan işçi" />
                        </div>
                        <div class="col-xl-1 pl-0">
                            <button class="btn btn-block bg-color searchBonusList"><i class="fas fa-search"></i></button>
                        </div>
                    </div>

                    <span id="recruitmentBonusListError" class="text-danger mt-3 bold" style="font-size:20px;"></span>

                    <table class="table table-striped table-bordered bonusList mb mt-5">
                        <thead>
                            <tr>
                                <th><i class="far fa-image"></i></th>
                                <th>Ad</th>
                                <th>Soyad</th>
                                <th>Email</th>
                                <th>Mağaza</th>
                                <th>Vəzifə</th>
                                <th>Bonus</th>
                                <th>Səbəbi</th>
                                <td><i class="fas fa-pen my-text ml-3"></i> </td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> <img style="width:30px; height:30px; border-radius:100%;" class="img-thumnail" src="~/img/@item.Recruitment.Employee.Image" /></td>
                                    <td>
                                        @item.Recruitment.Employee.Firstname
                                    </td>
                                    <td>
                                        @item.Recruitment.Employee.Lastname
                                    </td>
                                    <td>@item.Recruitment.Employee.Email</td>
                                    <td>@item.Recruitment.Shop.Name</td>
                                    <td>@item.Recruitment.Position.Name</td>
                                    <td>
                                        @item.Amount
                                    </td>
                                    <td>
                                        @item.Reason.PadLeft(20, ' ').Substring(0, 20)
                                    </td>
                                    <td>
                                        <button type="button" data-id="@item.RecruitmentId" class="dayProfit my-btn btn my-text edit" data-toggle="modal" id="emloyeeId">
                                            <i class="fas fa-pen"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                            <tr class="d-none" id="bonusList">
                                <td> <img style="width:30px; height:30px; border-radius:100%;" class="img-thumnail" src="~/img/" /></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="button" data-id="" class="dayProfit my-btn btn my-text edit" data-toggle="modal" id="emloyeeId">
                                        <i class="fas fa-pen"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* --------- Bonus edit -----------------------------------------------------------------------------------------------------*@

<div class="modal fade" id="myEdit">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-bg-color">
            <form>
                <div class="modal-header">
                    <button class="btn text-white btn-rounded pl-0" style="font-size:21px;">
                        <i class="fa fa-pencil mr-1"></i> Bonusun məbləğini və səbəbini redaktə edin
                    </button>
                </div>
                <div class="modal-body">
                    <div class="elements-form">
                        <input id="amountEdit" type="text" class="name-input form-control" placeholder="azn">
                    </div>
                    <div class="elements-form">
                        <input id="reasonEdit" type="text" class="name-input form-control" placeholder="səbəb">
                    </div>
                </div>
                <div class="modal-footer d-flex">
                    <button type="button" class="btn float-left border-white" data-dismiss="modal">
                        <span class="caption-subject bold ml-2">İmtina </span>
                    </button>
                    <button type="button" class="btn saveEdit border-white" data-dismiss="modal">
                        <span class="AntiForge"> @Html.AntiForgeryToken() </span>
                        <span class="caption-subject bold ml-2"> Yadda saxla </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>